@font-face {
    font-family: "HomemadeApple";
    src: url("../../../../resources/fonts/HomemadeApple-Regular.ttf");
  }

.UpperBarContent {
    padding-top: calc(1rem + 1vmin);
    padding-bottom: calc(0.8rem + 1vmin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(245,238,230,.5);
    position: relative;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    margin: 0 1rem 0 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    size: calc(100% + 1vmin);
}

.title {
    display: flex;
    align-items: center;
}

.title-name {
    font-family: "HomemadeApple";
}

.menuAnimation {
    display: inline-block;
    position: relative;
  }
  
.menuAnimation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(245,238,230,.5);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuAnimation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 650px) {
    .title-container {
        display: none;

    }
}
