.box-container {
    width: 154px;
    height: 110px;
    background: rgba(255,255,255,.05);
    border: 0.5px solid #FFFFFF;
    box-shadow: 1px 3px 4px #ffffff40;
    border-radius: 8px;
    font-size: calc(0.5rem + 0.5vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.box-image {
    height: 50px;
    width: 50px;
}