.App {
    text-align: center;
  }

.AppHeader {
  background-color: #131313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transform: translate3d(0px, 0px, 0px) skewY(0deg);
}

#three-canvas-container {
  height: 50vh !important;
  width: 50vh !important;
  /* opacity: 0.2; */
}
