.Loading {
    background-color: #131313;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MichelLoading {
    animation: hide 1s linear 1s; 
}

.HideImg {
    animation: spin infinite 2s linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(400deg);
    }
}

@keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

