.Loading {
    background-color: #131313;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

img {
    animation: spin infinite 1.5s linear;

}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
